<div>
	<div class="col-xs-1 col-sm-1 col-lg-1" id="itemRemove">
		{{id}}
	</div>
	<div class="col-xs-2 col-sm-2 col-lg-2" id="itemImg">
		<a href="#Product/{{product.merchant.merchantCode.mcc}}/{{product.merchant.mcId}}/{{id}}">
			<img src="content/{{product.merchant.merchantCode.mcc}}/{{product.merchant.mcId}}/{{product.id}}/{{product.img}}" 
			alt="product {{name}}" width="171" height="180" style="margin:5px"/>
		</a>
	</div>
	<div class="col-xs-3 col-sm-3 col-lg-3" id="itemName">
		<h4> Product Detail</h4>
		<p>
			<a href="#Product/{{product.merchant.merchantCode.mcc}}/{{product.merchant.mcId}}/{{product.id}}">{{product.name}}</a>
		</p>
		<p>
			<a href="#Merchant/{{product.merchant.mcId}}">Seller : {{product.merchant.name}}</a>
		</p>
		<p>
			<strong> Quantity : </strong>
			<input type="text" value="1" size="4"/>
		</p>
		<p>
			<strong> Price : </strong> {{product.price}}
		</p>
	</div>
	<div class="col-xs-3 col-sm-3 col-lg-3" id="itemShipping">
		<h4>Shipping via</h4>
		<p>{{product.shipper}} XXXXXXXXXXXX </p>
	</div>
	<div class="col-xs-3 col-sm-3 col-lg-3" id="itemRemove">
		<p style="align-text:center;  margin-top:70px;">
			<button class="btn btn-warning" id="removeItem"> remove </button>
			<button class="btn btn-primary pull-right" id="checkOut"> Check Out </button>
		</p>
	</div>
</div>