<div id="storeProfile">
	<div id="storeLogo">
		<img alt="{{logo}}" src="" width="" height=""></img>
	</div>
	<div id="merchantInfo">
		<p><strong>MERCHANT ID:</strong> {{mcId}} </p>
		<p><strong>STORE NAME : </strong> {{name}} </p>
		<p><strong>ADDRESS :</strong> {{email}} </p>
		<p><strong>TEL :</strong> {{tel}} </p>
		<p><strong>URL :</strong> {{url}}</p>
	</div>
	<div id="quickSummary">
		<p><strong> DATE :</strong> {{date}} </p>
		<p><strong> PRODUCT STOCK :</strong> {{stock}} </p>
		<p><strong> SOLD PRODUCT :</strong> {{sold}} </p>
		<p><strong> TOTAL SALE: </strong> {{total}} USD </p>
		<p><strong> NEW ORDER : </strong> {{incOrder}} </p>
		<p><strong> PROCESSED ORDER : </strong> {{proOrder}} </p>
	</div>
</div>
<div id="productLine"></div>