<div>

	<script type="text/template" id="travelPage">
		<div class="row">
			<ol class="breadcrumb">
				<li> <a href="#Home"> Home </a></li>
				<li class="active">Travel</li>
			</ol>
		</div>
		
		<div class="row space">
			<div id="product-list"></div>
		</div>
	</script>
	
	<script type='text/template' id="travelPageByDestTemp">
		<div class="row">
			<ol class="breadcrumb">
				<li> <a href="#Home"> Home </a></li>
				<li> <a href="#Home/Travel">Travel</a></li>
				<li class="active">{{id}}</li>
			</ol>
		</div>
		
		<div class="row space">
			<div id="product-list"></div>
		</div>
	
	</script>
	
	<script type="text/template" id="itemPage">
		<div class="row">
			<ol class="breadcrumb">
				<li> <a href="#Home"> Home </a></li>
				<li class="active">Product</li>
			</ol>
		</div>
		
		<div class="row space">
			<div id="product-list"></div>
		</div>
	</script>
</div>