<div>
	<div class="prd_travel">
		<div class="tvl_gen">
			<p>
				<span id="dest"><strong> Destination : </strong>{{destination.name}}</span>
			</p>
			<p>
				<span id="accom"><strong>Accommodation : </strong>{{accom}}</span>
			</p>
			<p>
				<label for="adult"><strong>Adult : </strong></label>
				<input type="text" id="adult" value="{{adult}}" size="3"/>
				
				<label for="child"><strong>Child : </strong></label>
				<input type="text" id="child" value="{{child}}" size="3"/>
			</p>
			<p>
				<label for="days"><strong>Days : </strong></label><input type="text" id="days" value="{{days}}" size="3"/>
				<label for="start"><strong>Start : </strong></label><input id="start" type="text" value="{{start}}" size="5"/>
				<label for="end"><strong>End : </strong></label><input id="end" type="text" value="{{end}}" size="5"/>
			</p>
			<p>
				<span id="food"><strong>Food : </strong> {{food}} <span class="glyphicon glyphicon-new-window"/></span>
				
			</p>
			<p>
				<span id="pickUp"><strong>PickUp At : </strong>{{pickUp}}</span>
				<span id="transport"><strong>Transport : </strong>{{tranport}}</span>
				<span id="guide"><strong>Guide : </strong> {{guide}} <span class="glyphicon glyphicon-new-window"/></span>
			</p>
			<p>
				<strong> Activity : </strong>
				<span class="label label-default">Activity 01</span>
				<span class="label label-default">Activity 02</span>
				<span class="label label-default">Activity 03</span>
				<span class="label label-default">Activity 04</span>
			</p>
			<p>
				<span><strong> Available : </strong> -- {{available}} </span>
			</p>
		</div>
	</div>
</div>