<div>
		<!-- and user information -->
		<div class="row space">
			<ol class="breadcrumb">
				<li class="active">Home</li>
			</ol>
		</div>
		
		
		<!-- promotion Logo -->
		<div id="sliderLogo" class="row space">
			<div id="carousel-home-generic" class="carousel slide" data-ride="carousel"></div>
		</div>
		
		<div class="container">
			<!-- travel products -->
			<div class="row space">
				<div class="col-xs-12 col-sm-12 col-lg-12">
					<div id="travel-product"></div>
				</div>
				<div class="col-xs-12 col-sm-12 col-lg-12" style="text-align: center;">
					<div id="tvlLoader" style="display: none;">
						<p>
							<img src="/Talalah/content/util/img/loader.gif" id="loading"/>
							Loading ... 
						</p>
					</div>
					<span class="btn btn-default" id="travelBtn">Load More</span>
				</div>
			</div>
			
			<!-- item product -->
			<div class="row space">
				<div class="col-xs-12 col-sm-12 col-lg-12 space">
					<div id="item-product"></div>
				</div>
				<div class="col-xs-12 col-sm-12 col-lg-12 space" style="text-align: center;">
					<div id="iteLoader" style="display: none;">
						<p>
							<img src="/Talalah/content/util/img/loader.gif" id="loading"/>
							Loading ... 
						</p>
					</div>
					<span class="btn btn-default" id="itemBtn">Load More</span>
				</div>
			</div>
		</div>
</div>