<div>
	<div class="thumbnail">
		<div class="merchant-img">
			<img src="https://placehold.it/242x200" alt="merchant {{name}} logo"/>
		</div>
		<div class="caption">
			<h3 title="NAME"><a href="#Merchant/View/{{mcId}}">{{name}}</a></h3>
			<p title="ID">{{mcId}}, <span title="{{merchantCode.note}}">{{merchantCode.mcc}}</span> ( <span title="STATUS"><strong>{{status}}</strong></span> ), {{address.city}}</p>
			<p> <span class="glyphicon glyphicon-phone-alt"></span> {{address.tel}}, <strong>Fax : </strong>{{address.fax}}</p>
			<p><span class="glyphicon glyphicon-envelope"></span>{{address.email}}</p>
			<p>
				<span class="glyphicon glyphicon-link"></span>
				<a href="http://{{url}}">{{url}}</a>
			</p>
			<p>
				<button class="btn btn-default" id="delete"><span class="glyphicon glyphicon-trash"></span>&nbsp;Delete</button>
			</p>
		</div>
	</div>

	
</div>