<div class="dialogbox">
	<div class="body">
		<span class="tip tip-left"></span>
		<div class="message">
			<h4 class='comment_header'>
					<span class="glyphicon glyphicon-user"></span> <strong> {{customer.name}} </strong>
					<span class="label label-info"> Rate : <span class="glyphicon glyphicon-star"></span>{{rate}} </span>
			</h4>
			<hr/>
			<p class='comment_body'>
				{{comment}}
			</p>
			<hr/>
			<p class='comment_footer'>
				<span class="glyphicon glyphicon-share"></span> Share via
				<a href="http://www.facebook.com" target="_blank">
					<img src="css/img/social/facebook_circle_color.png" alt="share on facebook"/>
				</a> 
				<a href="http://www.twitter.com" target="_blank">
					<img src="css/img/social/twitter_circle_color.png" alt="share on twitter"/>
				</a>
				<a href="http://www.instgram.com" target="_blank">
					<img src="css/img/social/instagram_circle_color.png" alt="share on instagram"/>
				</a>
			</p>
		</div>
	</div>
</div>


<div>
	<div class="col-xs-12 col-sm-12 col-lg-12">
		<p> Customer : <strong> {{customer.name}} </strong> </p> 
		<p> Rate : <span class="glyphicon glyphicon-star"></span>{{rate}} </p>
	</div>
	<div class="col-xs-12 col-sm-12 col-lg-12 comment-text">
		{{comment}}
	</div>
	<div class="col-xs-12 col-sm-12 col-lg-12">
		<span class="glyphicon glyphicon-share"></span> Share via
		<a href="http://www.facebook.com/PLACEHOLDER" target="_blank">
			<img src="css/img/social/facebook_circle_color.png" alt="share on facebook"/>
		</a>
		 - 
		<a href="http://www.twitter.com/PLACEHOLDER" target="_blank">
			<img src="css/img/social/twitter_circle_color.png" alt="share on twitter"/>
		</a>
		 -
		<a href="http://www.instgram.com/PLACEHOLDER" target="_blank">
			<img src="css/img/social/instagram_circle_color.png" alt="share on instagram"/>
		</a>
	</div>
</div>