<div>
	<div class="item_option">
		<p>
			<label for="quantity"><strong> QUANTITY : </strong></label>
			<input type="text" value="1" id="quantity" size="5"/> 
		</p>
		<p>
			<span class="item_attribute">
				<label for="prd_stk"><strong> Stock : </strong></label>
				<input id="prd_stk" type="text" value="{{stock}}" size="4"/>
			</span>
			
			<span class="item_attribute">
				<label for="prd_color">	<strong> Color : </strong></label>
				<input id="prd_color" type="text" value="{{color}}" size="4"/>
			</span>
			
			<span class="item_attribute">
				<label for="prd_size"><strong> Size : </strong></label>
				<input id="prd_size" type="text" value="{{size}}" size="4"/>
			</span>
		</p>
		<p>
			<span class="item_attribute">
				<label for="prd_l"><strong> Length : </strong></label>
				<input id="prd_l" type="text" value="{{length}}" size="4"/>
			</span>
			<span class="item_attribute">
				<label for="prd_w"><strong> Width : </strong></label>
				<input id="prd_w" type="text" value="{{width}}" size="4"/>
			</span>
			<span class="item_attribute">
				<label for="prd_h"><strong> Height : </strong></label>
				<input id="prd_h" type="text" value="{{height}}" size="4"/>
			</span>
		</p>
		<p>
			<span class=""><strong> Available : </strong> </span> -- {{available}}
		</p>
	</div>
</div>