<div id="myStoreProduct">
	<div class="thumbnail item">
		<img src="content/{{merchant.merchantCode.mcc}}/{{merchant.mcId}}/{{id}}/{{img}}" alt="Product {{name}}">
		<div class="caption">
			<h4><a href="#">{{name}}</a></h4>
			<h5><strong>Product ID: </strong>{{id}} </h5>
			<h4 class="pull-right">${{price}}</h4>
		</div>
		<div class="ratings">
			<p class="pull-right">{{review}} reviews</p>
			<p>Rate : <span class="glyphicon glyphicon-star"> </span> {{rate}} </p>
		</div>
	</div>
</div>
