<div>
	<div class="custInfo">
		<p> <strong>Name : </strong> {{name}}</p>
		<p> <strong>Email : </strong> {{email}}</p>
	</div>
	<div class="shipInfo">
		<p>
			<strong>Country : </strong>
			<select id="countries"><option/></select>
		</p>
		<p><strong>Address 1 : </strong> <input type="text" placeholder="Street/Road, Address" value={{address1}}/></p>
		<p><strong>Address 2 : </strong> <input type="text" placeholder="Building, Apartment, floor" value={{address2}}/></p>
		<p><strong>Address 3 : </strong> <input type="text" placeholder="Other address infor" value={{address3}}/></p>
		<p><strong>Postal Code : </strong> <input type="text" placeholder="Postal Code" value={{postCode}}/></p>
		<p><strong>City : </strong><input type="text" placeholder="City" value={{city}}/></p>
		<p><strong>Phone : </strong><input type="text" placeholder="Phone" value={{phone}}/></p>
		<p><strong>Mobile : </strong><input type="text" placeholder="Mobile" value={{mobile}}/></p>
		<p><strong>Fax : </strong><input type="text" placeholder="Fax" value="{{fax}}"/></p>
		<p><strong>Email : </strong><input type="text" placeholder="Email" value={{email}}/></p>
	</div>
</div>