<div>
	<div>
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-lg-6">
				<div class="input-group space">
				  <span class="input-group-addon">Stock</span>
				  <input type="text" class="form-control" placeholder="Username" value="{{stock}}" >
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-lg-6">
				<div class="input-group space">
				  <span class="input-group-addon">Color</span>
				  <input type="text" class="form-control" placeholder="Username" value="{{color}}" >
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-lg-6">
				<div class="input-group space">
				  <span class="input-group-addon">Size</span>
				  <input type="text" class="form-control" placeholder="Username" value="{{size}}" >
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-lg-6">
				<div class="input-group space">
				  <span class="input-group-addon">Length</span>
				  <input type="text" class="form-control" placeholder="Username" value="{{lenght}}" >
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-lg-6">
				<div class="input-group space">
				  <span class="input-group-addon">Width</span>
				  <input type="text" class="form-control" placeholder="Username" value="{{width}}" >
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-lg-6">
				<div class="input-group space">
				  <span class="input-group-addon">Height</span>
				  <input type="text" class="form-control" placeholder="Username" value="{{height}}" >
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-lg-12">	
			 <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			          Shipping Provider
			      </h4>
			    </div>
			      <div class="panel-body">
			        <div id="shppvdlist"></div>
			      </div>
			  </div>
			</div>
		</div>
	</div>
</div>